.body{
    margin: 0px;
    padding: 0px;
}
.background{
    background-color: #f16775;
}
.items{
    width: 100%;
}
.first{
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.second{
    width: 100%;    ;
}
.left{
    margin-left: 5px;
    width: 60%;
    margin-top: 5px;
    text-align: left;
}
.right{
    margin-right: 5px;
    margin-left: auto;
    width: 60%;
    margin-top: 5px;
    text-align: right;
}
.center{
    width: 60%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}
.font{
    font-family: 'Splash', cursive;
}
